aside {
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    z-index: 100;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0 0 2px #fff;
    }

section {
    position: absolute;
    top: 0;
    width: 70%;
    height: 100% ;
    text-align: center;
    z-index: 100;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0 0 2px #fff;
    left: 25%;
    display: none;
    overflow: auto;
    }


#links ul {
    margin: 0;
    padding: 0 5% 0 5%;
    }

@media all and (max-width: 1400px) and (min-width: 1000px){
  #links li {
       font-size: 1.7em;
       line-height: 55px;
        }
}

@media all and (max-width: 1920px) and (min-width: 1400px){
  #links li {
       font-size: 2.1em;
       line-height: 65px;
        }
}

@media all and (min-width: 1930px){
  #links li {
        font-size: 2.5em;
        line-height: 70px;
        }
}

#links li {
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 1px 2px #000;
    -moz-text-shadow: 0 1px 2px 0 #000;
    -webkit-text-shadow: 0 1px 2px 0 #000;
    }

#links li:hover {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border: 0;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 2px #fff;
    }

body {
    background: url('https://samudranil-in.herokuapp.com/images/binding_dark.png');
    }

#logo img {
    width: 60%;
    cursor: pointer;
    }

#logo {
    padding-bottom: 10%;
    padding-top: 5%;
    }

#logo:hover {
    }

#cover {
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    width: 95%;
    }

#cover img {
    width: 100%;
    opacity: 0.25;
    }

#cover {
    background: url('https://samudranil-in.herokuapp.com/images/binding_dark.png');
    }

aside .credit {
    font-size: .8em;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    left: 10%;
    padding: 5%;
    font-weight: bold;
    }

section.container {
    overflow: auto;
    float:right;
    position: absolute;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 0;
    outline: 0 none;
    left: 20%;
    }

.post, .post-gist {
    color: #D6D6D6;
    font-family: Roboto Condensed;
    font-size: 1em;
    line-height: 1.5;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    max-width: 640px;
}

@media all and (min-width: 1600px){
    .post, .post-gist {
        font-size: 1.3em;
        max-width: 1000px;
        }
}

h2, a h2 {
    color: #D6D6D6;
    font-size: 2em;
    margin-left: -10px;
    text-shadow: 0 2px 5px #000000;
    display: block;
}

.date {
    font-size: 0.9em;
    font-style: italic;
    line-height: 1;
}

.post img {
    width: 100%;
    }

.post-gist img {
    width: auto;
    float: left;
    margin-top: 7px;
    margin-right: 10px;
    }

.post-gist .date {
    float: right;
    font-size: 0.9em;
    font-style: italic;
    margin-right: 20px;
    margin-top: -45px;
}

.more {
    color: #C6C6C6;
    font-size: 1.2em;
    text-align: right;
}

/* Ajax element stylings--------------------------------------------- */
.loading {
    background: none repeat scroll 0 0 #FFD66A;
    border: 2px solid #FFD659;
    border-radius: 10px 10px 10px 10px;
    font-size: 1.2em;
    margin: 10px auto 0;
    padding: 3px;
    width: 100px;
    opacity: 0.5;
}
/* ------------------------------------------------------------------ */


/* Slide Style ------------------------------------------------------ */

/* Center the slideshow */
#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
    display: none;
    }

.slides-navigation a {
  display: none;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 5px 2px;
  overflow: hidden;
  text-indent: -100%;
  line-height: 3;
}
.slides-pagination a.current {
  background: rgba(255, 255, 255, 0.7);
}
/*----------------------------------------------------------------------
