body{
  text-align: center;
}

div.header, div.content-area, div.footer  {
  width: 100%;
  margin: 0 auto;
}

div.header{
  height: 100px;  
  background: #ffffff;
  overflow: hidden;
}
div.photo-slider {
  max-width: 100%;
  margin: 0 auto;
}

#logo {
  width: 100px;
  float: left;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #002140;
  margin-top: -20px;
  margin-left: 2%;
  height: 100px;
}

#logo img {
  margin-left: 5px;
  margin-top: 22px;
  width: 72%;
}


#menu {
    background: url("../images/menu.png") repeat scroll 0 0 transparent;
    float: right;
    height: 39px;
    margin-right: 3%;
    margin-top: 24px;
    width: 43px;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  margin-top: 20px;
}

.swipe-wrap img{
  width: 90%;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap div {
  float:left;
  width:100%;
  position: relative;
}

.photo-slider nav #position {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.photo-slider nav #position li {
    background: none repeat scroll 0 0 none;
    border-radius: 50%;
    box-shadow: 1px 1px 2px black inset, 0px 0px 0px 0px #000;
    cursor: pointer;
    display: inline-block;
    height: 13px;
    margin: 3%;
    width: 13px;
}
.photo-slider nav #position li.on {
    background-color: #002140;
    box-shadow:  0px 0px 5px 0px #000;
}
