body{
  text-align: center;
}

div.header, div.content-area, div.footer  {
  width: 100%;
  margin: 0 auto;
}

div.header{
  height: 100px;  
  background: #ffffff;
  overflow: hidden;
}
div.photo-slider {
  max-width: 100%;
  margin: 0 auto;
}

#logo {
  width: 100px;
  float: left;
  border-radius: 50%;
  background: #002140;
  margin-top: -20px;
  margin-left: 2%;
  height: 100px;
}

#logo img {
  margin-left: 5px;
  margin-top: 22px;
  width: 72%;
}


#menu {
    background: url("../images/menu.png") repeat scroll 0 0 transparent;
    float: right;
    height: 39px;
    margin-right: 3%;
    margin-top: 24px;
    width: 43px;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap div {
  float:left;
  width:100%;
  position: relative;
  border-radius: 4px 4px 4px 4px;
}
