ErrorDocument 404 /404.php

# ######################################################################
# # INTERNET EXPLORER #
# ######################################################################

# ----------------------------------------------------------------------
# | Better website experience |
# ----------------------------------------------------------------------

# Force IE to render pages in the highest available mode in the various
# cases when it may not: https://hsivonen.iki.fi/doctype/ie-mode.pdf.
# Use, if installed, Google Chrome Frame.

<IfModule mod_headers.c>
    Header set X-UA-Compatible "IE=edge,chrome=1"
    # `mod_headers` can't match based on the content-type, however, we only
    # want to send this header for HTML pages and not for the other resources
    <FilesMatch "\.(appcache|crx|css|eot|gif|htc|ico|jpe?g|js|m4a|m4v|manifest|mp4|oex|oga|ogg|ogv|otf|pdf|png|safariextz|svg|svgz|ttf|vcf|webapp|webm|webp|woff|xml|xpi)$">
        Header unset X-UA-Compatible
    </FilesMatch>
</IfModule>


# ----------------------------------------------------------------------
# | UTF-8 encoding |
# ----------------------------------------------------------------------

# Use UTF-8 encoding for anything served as `text/html` or `text/plain`.
AddDefaultCharset utf-8

# Force UTF-8 for certain file formats.
<IfModule mod_mime.c>
    AddCharset utf-8 .atom .css .js .json .rss .vtt .webapp .xml
</IfModule>


RewriteEngine on

# ----------------------------------------------------------------------
# Forcing the "https" |
# ----------------------------------------------------------------------

RewriteCond %{HTTP:X-Fordwarded-Porto} !https
RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI}%{HTTP:X-Fordwarded-Porto} [R=302,L]


# ----------------------------------------------------------------------
# Forcing the "www." at the beginning of URLs |
# ----------------------------------------------------------------------

#RewriteCond %{HTTPS} !=on
#RewriteCond %{HTTP_HOST} !^www\..+$ [NC]
#RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#-----------------------------------------------------------------------
# URL mapping rules
#-----------------------------------------------------------------------

RewriteCond %{REQUEST_URI} portfolio/?$
RewriteRule portfolio /?page=portfolio [PT]

RewriteCond %{REQUEST_URI} albums/([0-9]+)?$
RewriteRule albums/([0-9]+) /?page=albums&id=$1 [PT]

RewriteCond %{REQUEST_URI} albums/?$
RewriteRule albums /?page=albums [PT]

RewriteCond %{REQUEST_URI} photo/([0-9]+)?$
RewriteRule photo/([0-9]+) /?page=photo&id=$1 [PT]

RewriteCond %{REQUEST_URI} blog/([0-9]+)?$
RewriteRule blog/([0-9]+) /?page=blog&id=$1 [PT]

RewriteCond %{REQUEST_URI} blog/page/([0-9]+)?$
RewriteRule blog/page/([0-9]+) /?page=blog&offset=$1 [PT]

RewriteCond %{REQUEST_URI} blog/?$
RewriteRule blog /?page=blog [PT]
